form{
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    border: .3em solid white;
    border-radius: 10rem;
    background: $primary-color-dark-2;
    color: $primary-color-text-light-1;
    font-size: 1em;
    font-weight: bold;
    width: 50%;
    padding: 1rem;
    outline: none;

    @media only screen and (max-width: 850px) {
        width: 85%;
        padding: .75rem;
    }

    &:focus{
        border: .3em solid $primary-color-1;
        transition: all 1s;
    }
}

.submitButton {
    color: $primary-color-text-light-1;
    cursor: pointer;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;

    @media only screen and (max-width: 850px) {
        margin-left: -2.5rem;
    }

    &:hover{
        color: $primary-color-1;
    }
}