
$primary-color-dark-1: rgb(24, 23, 27);
$primary-color-dark-2: rgb(44, 44, 53);

$primary-color-1: rgb(224, 109, 81);
$primary-color-2: rgb(228, 35, 35);
$primary-color-3: rgb(216, 137, 137);

$primary-color-text-light-1:  rgb(170, 170, 170);

html,body{
    background: $primary-color-dark-1;
    font-family: Arial, Helvetica, sans-serif;
}

@import "buttons.scss";
@import "form.scss";
@import "typography.scss";
@import "user/userHeader.scss";