.user{

    &__header{
        display: flex;
        justify-content: center;
        padding: 2.5rem;

        &--postition{
            background: white;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            border-radius: 1rem;
        }

        &--image{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2rem;

            img{
                width: 25vh;
                border-radius: 1rem;
            }
        }

        &--text{
            color: green;
            font-weight: bold;
            padding: 2rem;
        }
    }
}